<div class="queue-section">
  <h3>Now Playing</h3>

  <div *ngIf="!nowPlaying" class="queue-empty">Nothing is playing</div>
  <div *ngIf="nowPlaying" class="queue-item horizontal-card">
    <img [src]="nowPlaying.thumbnail" alt="Cover" class="thumbnail"/>
    <div class="song-info">
      <div class="song-title">{{ nowPlaying.title }}</div>
    </div>

    <div class="song-actions">
      <button [disabled]="isSkipping" (click)="skip()">
        <span *ngIf="isSkipping" class="spinner"></span>
        <span *ngIf="!isSkipping">
            <i class="fas fa-forward"></i>
          </span>
      </button>
    </div>


  </div>
</div>
