<div class="queue-section">
  <h2>Queue</h2>
  <div *ngIf="queue.length === 0" class="queue-empty">Queue is empty</div>
  <div *ngFor="let song of queue" class="queue-item horizontal-card">
    <img [src]="song.thumbnail" alt="Cover" class="thumbnail" />
    <div class="song-info">
      <div class="song-title">{{ song.title }}</div>
    </div>
    <div class="song-actions">
      <button (click)="dequeueSong(song)" [disabled]="isDequeuing[song.id]">
        <span *ngIf="isDequeuing[song.id]" class="spinner"></span>
        <span *ngIf="!isDequeuing[song.id]">
          <i class="fa-solid fa-x"></i>
        </span>
      </button>
    </div>
  </div>

  <div *ngIf="downloadQueue.length > 0"><h2>Downloading</h2></div>
  <div *ngFor="let song of downloadQueue" class="queue-item horizontal-card">
    <img [src]="song.thumbnail" alt="Cover" class="thumbnail" />
    <div class="song-info">
      <div class="song-title">{{ song.title }}</div>
    </div>
  </div>
</div>
