<div class="queue-section">
  <h2>Songs</h2>
  <div *ngIf="songs.length === 0" class="queue-empty">You don't have any songs yet</div>
  <div class="song-grid">
    <div class="song-card horizontal-card" *ngFor="let song of songs">
      <img [src]="song.thumbnail" alt="Cover" class="thumbnail" />
      <div class="song-info">
        <div class="song-title">{{ song.title }}</div>
        <div class="song-actions">
          <a class="song-link" href="{{ song.url }}" target="_blank">
            <i class="fas fa-external-link-alt"></i>
          </a>

          <ng-container *ngIf="!isQueued[song.id]; else queued">
            <button [disabled]="isQueueing[song.id]" (click)="queueSong(song)">
              <span *ngIf="isQueueing[song.id]" class="spinner"></span>
              <span *ngIf="!isQueueing[song.id]">
              <i class="fas fa-plus"></i>
            </span>
            </button>
          </ng-container>

          <ng-template #queued>
          <span class="queued-label">
            <i class="fas fa-check"></i> In Queue
          </span>
          </ng-template>

        </div>
      </div>
    </div>
  </div>

</div>
